

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}



/* Formulaire */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    border: 1px solid #C9A769;
    border-radius: 3px;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 5px 10px;

    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #704E2E;
}

/* Autres styles spécifiques */

